@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


.hero-section {
  background-image: url('../../public/images/back.jpg');
  background-size: cover;
  background-position: center;
}